import { z } from 'zod';

export const <%= classify(name) %>PropsSchema = z.object({
	id: z.nativeEnum(<%= dto %>)
});

export type <%= classify(name) %>Props = z.infer<typeof <%= classify(name) %>PropsSchema>;
